.chatList {
    height: 100vh;
    width: 27%;
    box-sizing: border-box;
    padding-left: 0px;
    background-color: rgb(3, 32, 58);
}

.chatItem {
    width: 100%;
    height: 7%;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 10px;
}

.chatItem:hover {
    border: 1px solid rgb(30, 30, 138);
}

.chatSearchInput {
    background-color: rgb(18, 78, 131);
    height: 60%;
    width: 95%;
    border: none;
    margin-top: 5px;
    margin-left: 6px;
    border-radius: 10px;
    border: 1px solid transparent;
}

.chatSearchLabel {
    height: 30px;
}