body {
    background-color: #1C1C1E;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
}
* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}